<h1> {{Player.firstName}} {{Player.lastName}} </h1>
<h2>Manage Character: </h2>

<form action="" method="post" id="update-player" style="padding: 50px">
  <table>
    <thead>
      <tr>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Player Class </th>
        <th> Game </th>
        <!-- <th> Spouse </th> -->
        <th> Hitpoints </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="hidden" name="humid" value="{{Player.humanoidID}}">
          <input type="text" name="firstname" value="{{Player.firstName}}">
        </td>
        <td>
          <input type="text" name="lastname" value="{{Player.lastName}}"><br>
        </td>
        <td>
          <input type="text" name="class" value="{{Player.class}}">
        </td>
        <td>
          <select name="gameName" id="game-selector">
            {{#each Game}}
              <option value="{{gameID}}">{{name}}</option>
            {{/each}}
          </select>
        </td>
        <!-- <td>
          <select name="spouseID" id="spouse-selector">
            {{#each player}}
              <option value="{{humanoidID}}">{{firstName}} {{lastName}}</option>
            {{/each}}
          </select>
        </td> -->
        <td>
          <input type="number" name="hitpoints" value="{{Player.hitpointVal}}">
        </td>
        <td><input type="submit" value="Update Character"></td>
      </tr>
    </tbody>
  </table>
  </form>

<h2>Manage Items: </h2>

<form action="/Players/addItem" method="post" id="itemCreate" style="padding: 50px">
  <input type="hidden" name="humid" value="{{Player.humanoidID}}">
  <select name="itemName" id="item-selector">
    {{#each Item}}
      <option value"{{itemID}}">{{name}}</option>
    {{/each}}
  </select>
  <input type="submit" value="Add to pack">
</form><br>

<h2>{{Player.firstName}}'s Items:</h2>

{{#if PlayerItem}}

<table style="width: 50%; align: left">
  <thead align="left">
      <th> Item Name </th>
      <th> Effect </th>
      <th> Type </th>
      <th> Cost </th>
  </thead>
  <tbody>
  {{#each PlayerItem}}
    <tr>
      <td>{{name}}</td>
      <td>{{effect}}</td>
      <td>{{type}}</td>
      <td>{{cost}}</td>
      <td><button onclick="deleteItem({{itemID}}, {{humanoidID}})">Delete Item</button></td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{else}}
  <h3>You pack appears to be empty =(</h3>
{{/if}}

<script>
function deleteItem(itm, hum){
    $.ajax({
        url: '/Players/delItem/'+ itm + '/humanoid/' + hum,
        type: 'DELETE',
        success: function(result){
            if(result.responseText != undefined){
                alert(result.responseText)
            }
            else{
                window.location.reload(true)
            }
        }
    })
};
</script>
