<h1>Items</h1>
<h2>Search, Create, Delete or Update Items</h2>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
  <form action="" id="filterByEffect">
		<input type="text" placeholder="Example: stabbing" name="itemEffect">
		<input type="submit" value="Filter By Effect">
	</form><br>

  <form action="/Items" method="post" id="itemCreate">
    <input type="text" placeholder="Name" name="itemName">
    <input type="text" placeholder="Effect" name="itemEffect">
    <input type="text" placeholder="Type" name="itemType">
    <input type="text" placeholder="Cost" name="itemCost">
    <input type="submit" value="Create Item">
  </form>

	<form action="" id="submitItem">
	<table>
	    <thead>
	        <th>Item Name</th>
	        <th>Item Effect</th>
	        <th>Item Type</th>
          <th>Item Cost</th>
	    </thead>
      <tbody>
        {{#each Item}}
        <tr>
          <td>{{name}}</td>
          {{#if effect}}
            <td>{{effect}}</td>
          {{else}}
            <td>None</td>
          {{/if}}
          <td>{{type}}</td>
          <td>{{cost}}</td>
          <th><button type="button" onclick="getForm('modify')">Modify Item</button></th>
          <th><button type="button" onclick="getForm('delete')">Delete Item</button></th>
        </tr>
        {{/each}}
      </tbody>
	</table>
</body>
