<h1>Players</h1>
<h2>Search, Create, Delete or Update Players</h2>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
	<form action="" id="filterPlayers" method="">
    <select id="game_filter" name="game">
      {{#each Game}}
        <option value="{{gameID}}">{{name}}</option>
      {{/each}}
    </select>
		<input type="button" value="Filter By Game" onclick="filter()">
	</form><br>

  <form action="/Players" method="post" id="charCreate">
    <input type="text" placeholder="First Name" name="firstname">
    <input type="text" placeholder="Last Name" name="lastname">
    <input type="text" placeholder="Character Class" name="class">
    <!-- <input list="games" placeholder="Name of Game" name="gameName"> -->
    <select name="gameName">
      {{#each Game}}
        <option value="{{gameID}}">{{name}}</option>
      {{/each}}
    </select>
    <input type="submit" value="Create Character">
  </form>

	<!-- <form action="/Players/delete/{{humanoidID}}" method="post" id="deleteChar"> -->
	<table>
	    <thead align="left">
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Playable</th>
	        <th>Game</th>
	        <th>Class</th>
	        <th>Spouse</th>
	        <th>Hitpoints</th>
	    </thead>
      <tbody>
        {{#each player}}
        <tr>
          <input type="hidden" name="humid" value="{{humanoidID}}">
          <td>{{firstName}}</td>
          <td>{{lastName}}</td>
          {{#if playable}}
            <td>Yes</td>
          {{else}}
            <td>No</td>
          {{/if}}
          <td>{{game}}</td>
          <td>{{class}}</td>
          {{#if SpouseID}}
            <td>{{SpouseID}}</td>
          {{else}}
            <td>None</td>
          {{/if}}
          <td>{{hitpointVal}}</td>
          <td><button onclick="window.location.href = '/Players/charSheet/{{humanoidID}}';">Character Sheet</button></td>
          <td><button onclick="window.location.href = '/Players/delete/{{humanoidID}}';">Delete</button></td>
          <!-- <td><a href="/Players/charSheet/{{humanoidID}}">Character Sheet</a></td> -->
          <!-- <td><input type="submit" value="Delete"></td> -->
        </tr>
        {{/each}}
      </tbody>
	</table>
  <script>
    function filter() {
      //get the id of the selected homeworld from the filter dropdown
      var gameid = document.getElementById('game_filter').value
      //construct the URL and redirect to it
      window.location = '/Players/filter/' + parseInt(gameid)
    }
  </script>
</body>
